$primary-color: #DE1D4C;
$dark-color: #686868;
$light-color: #f8f9fa;

@mixin padding-x {
    padding: 2rem 1rem;
}
@mixin svg-width {
    width: 28px;
}
@mixin content-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

@mixin border-bottom($padding) {
    padding-bottom: $padding;
    border-radius: 8px;
    border-bottom: 1px solid rgba($dark-color, $alpha: 0.2);
}

@mixin transition {
    transition: 1s;
}

@mixin shadow {
    box-shadow: 0.5px 1px 4px rgba($color: #000000, $alpha: 0.2);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: $dark-color;
}

// container
main {
    .form-input {
        height: 12vh;
        background-color: $primary-color;
        @include padding-x();

        form {
            min-height: 80px;
            background-color: $light-color;
            @include shadow();
            border-radius: 0.5rem;
            position: relative;

            .container {
                padding: 1rem;

                .data-input {
                    margin-bottom: 1rem;

                    label {
                        position: relative;

                        >span {

                            &::after,
                            &::before {
                                position: absolute;
                                transition: 200ms ease-in-out;
                            }

                            &::before {
                                content: attr(data-label);
                                left: 16px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                pointer-events: none;
                                height: 1rem;
                                font-size: 1rem;
                                color: $dark-color;
                                line-height: 1;
                            }
                        }

                        >input {
                            &:focus,
                            &:valid {
                                ~span {
                                    &::before {
                                        font-size: 14px;
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }

                    input {
                        width: 100%;
                        border: 0;
                        height: 48px;
                        // padding: 0px 16px 6px 16px;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font-size: 16px;

                        &:focus,
                        &:active {
                            outline: 0;
                            border: 0;
                        }
                    }
                    .outlined {
                        >input {
                            border: 1px solid rgba(0, 0, 0, .42);
                            border-radius: 4px;

                            &:focus {
                                box-shadow: 0 0 0 2px $primary-color;
                                border-color: transparent;
                            }
                            &:focus,
                            &:valid {
                                ~span {
                                    &::before {
                                        transform: translateY(-28px);
                                        background-color: $light-color;
                                        padding: 2px 4px;
                                    }
                                }
                            }
                        }
                            }
                            .outlined-1 {
                                >input {
                                    border: 1px solid rgba(0, 0, 0, .42);
                                    border-radius: 4px;

                                    &:focus {
                                        box-shadow: 0 0 0 2px $primary-color;
                                        border-color: transparent;
                                    }
                                    &:focus,
                                    &:valid {
                                        ~span {
                                            &::before {
                                                transform: translateY(-28px);
                                                background-color: $light-color;
                                                padding: 2px 4px;
                                            }
                                        }
                                    }
                                    }
                    }
                }
            }
        }

    }

    .data-game {
        margin-top: 9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        .game-games {
            .game-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                // background-color: red;
                padding: 1rem 1rem;
                margin-bottom: 0.5rem;
                border-radius: 0.5rem;
                box-shadow: 0.5px 1px 2px rgba($color: #000000, $alpha: 0.2);

                .game-title {
                    h4 {
                        font-size: 1rem;
                        font-weight: 700;
                        margin-bottom: 3px;
                    }
                    p {
                        font-size: 1rem;
                        opacity: 0.6;
                        margin-bottom: 10px;
                    }
                    b {
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
                .game-btn {
                    padding: 0.5rem 2rem;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    font-weight: 500;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    .bg {
        &.active {
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba($dark-color, $alpha: 0.5);
            z-index: 20;
        }
    }

    .modal-detail {
        height: 0vh;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 30;
        background-color: $light-color;
        // border-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow-x: hidden;
        color: $light-color;
        visibility: hidden;
        @include transition();

        &.active {
            height: auto;
            visibility: visible;
        }


        .modal-header {
            height: 70px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include padding-x();

            .header-detail {
                display: flex;
                align-items: center;
                svg {
                    @include svg-width();
                    margin-right: 1rem;
                }
            }
            svg {
                @include svg-width()
            }
        }
        .modal-body {
            // @include padding-x();
            .modal-content {
                color: $dark-color;
                span {
                    opacity: 0.6;
                }

                h4 {
                    font-size: 1rem;
                }

                .data-content {
                    @include content-flex();
                    @include padding-x();
                    @include border-bottom(0.15rem);
                    padding-top: 1.25rem;
                    padding-bottom: 1.25rem;
                }
            }
            .modal-action {
                @include content-flex();
                @include padding-x();
                color: $dark-color;
                span {
                    font-size: 1rem;
                    font-weight: 700;
                }

                .modal-btn {
                    padding: 0.75rem 1.5rem;
                    background-color: $primary-color;
                    color: $light-color;
                    border-radius: 4px;
                }
            }
        }
    }
}